body {
  background-color: #3B3A3C;
  font-family: Arial, sans-serif;
  font-size: 10px;
  line-height: 1;
}

section {
  width: 500px;
}

.location {
  background-color: #E0DFE0;
  margin: 0px;
  padding: 20px;
  width: 100% center;
  border-bottom: 1px solid grey;
}

.arrow-left:hover {
  background-color: black;
}

.arrow {
  text-align: right;
  display: inline-block;
  position: relative;
  top: -10px;
}

.content {
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  width: 440px;
}

 div:hover {
  background-color: #B4B3B5;
}

h1 {
  font-weight: bold;
  color: Black;
  text-align: left;
  margin-bottom: 5px;
}

h3 {
  font-size: 90%;
  font-weight: lighter;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  padding: 15px 0 15px 15px;
  position: absolute;
  width: 500px;
  background-color: black;
}

.restaurant-list {
  padding-top: 50px;
}
